body
{
  font-family: times New Roman;
  color: #FAAFBE;
  text-shadow: 1px 1px 1px rgba(0,0,0,255);
}


}

 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

input[type=range] {
  height: 5px;
  -webkit-appearance: none;
  margin: 8% 0;
  width: 37%;
  background: none;
  border: none;
  position: fixed;
  left: 30%;
  
  

  }
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px #272727;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FAAFBE;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #50555C;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px #272727;
  background: #50555C;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FAAFBE;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #50555C;
}
input[type=range]::-ms-fill-upper {
  background: #50555C;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #50555C;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FAAFBE;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
  background: #50555C;
}

pre {
    text-align: center;
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FF8040;
}

#marquee {
    width: 300px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: -3px;
}
 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 135%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
	overflow: hidden;
    -webkit-filter: blur(9px);
    -moz-filter: blur(9px);
    -o-filter: blur(9px);
    -ms-filter: blur(9px);
    filter: blur(9px);
}
#center {               
    position: absolute;
    left: 50%;
    top: 44.4%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
	
	
.rainbow {
      animation: colorchange 5s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 5s; /* Chrome and Safari */
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	  
    }

    @keyframes colorchange
    {
      0%   {COLOR: red;}
      25%  {COLOR: yellow;}
      50%  {COLOR: blue;}
      75%  {COLOR: green;}
      100% {COLOR: red;}
	  
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {COLOR: red;}
      25%  {COLOR: yellow;}
      50%  {COLOR: blue;}
      75%  {cOLOR: green;}
      100% {COLOR: red;}
    }
}